<div class="flex-container">
  <img
    class="imagen"
    src="https://s3-eu-west-1.amazonaws.com/carritus.com/images_pms/70/59391570.jpg"
  />
  <span class="producto">Palmera de cacao</span>
  <span class="peso">Pieza 425 g</span>
  <span class="precioEntero">
    <span style="font-size: 18px; margin-left: 5px"> 1,75€</span>
    <span style="color: darkgray; font-size: 18px"> /ud.</span>
  </span>

  <hr width="240px" />
  <button class="boton" type="button">Añadir al carro</button>
  <div class="flex-row">
    <div class="flex-compra">
      <span class="enCarro"> En carro </span>
      <span class="unidadesCarro">
        <span style="font-size: 20px; margin-left: 5px; color: brown"> 0</span>
        <span style="color: brown; font-size: 20px"> ud.</span>
      </span>
    </div>

    <div class="flex-botones">
      <button class="botonAñadirUnidad" type="button">+ud</button>
      <button class="botonEliminarUnidad" type="button">-ud</button>
    </div>
  </div>
</div>
